@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #010429;
  padding-left: 1rem;
  height: 85px;
}

.navbar #logo {
  width: 4rem;
  height: 4rem;
  background-color: #010429;
}

.navbar .logo h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #ffffff;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.search button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #010429;
  cursor: pointer;
}

.search #x {
  display: none;
}

.search button img {
  width: 50%;
  height: 50%;
  background-color: #010429;
}

img {
  opacity: 1;
}

.search input {
  width: 30rem;
  height: 3rem;
  border: none;
  background-color: #010429;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
}

.search:focus-within #x {
  outline: none;
  border: none;
  display: block;
}